<ion-side-menus>

	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-assertive nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios7-arrow-back"></i> &nbsp;  &nbsp; 
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
		<header class="bar bar-header bar-assertive">
			<h1 class="title">功能</h1>
		</header>
		<ion-content class="has-header">
			<ion-list>
				<ion-item class="item item-icon-left" nav-clear menu-close href="#/tab/my">
					<i class="icon ion-ios7-person-outline"></i>我的
				</ion-item>
				<ion-item class="item item-icon-left" nav-clear menu-close href="#/tab/good">
					<i class="icon ion-ios7-star-outline"></i>推荐
				</ion-item>
				<ion-item class="item item-icon-left" nav-clear menu-close href="#/tab/explore">
					<i class="icon ion-ios7-search"></i>发现
				</ion-item>
				<ion-item class="item item-icon-left" nav-clear menu-close href="#/tab/rank">
					<i class="icon ion-ios7-people-outline"></i>英雄榜
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
