<ion-view title="英雄榜">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				人物榜
			</div>
			<a href="#/tab/rankLevel" class="item item-icon-left"><i class="icon ion-person-add"></i> 经验榜 </a>
			<a href="#/tab/rankPlan" class="item item-icon-left"><i class="icon ion-image"></i>方案榜 </a>
			<a href="#/tab/rankSignIn" class="item item-icon-left"><i class="icon ion-ios7-compose"></i>签到榜 </a>
			<div class="item item-divider">
				点评榜
			</div>
			<a href="#/tab/rankGood" class="item item-icon-left"><i class="icon ion-arrow-graph-up-right"></i> 热门榜 </a>
			<a href="#/tab/rankComment" class="item item-icon-left"><i class="icon ion-chatbubbles"></i>热评榜</a>
		</div>
		<p class="text-center font-grey">
			这么多榜，总有一个你的地方，加油吧！
		</p>
	</ion-content>
</ion-view>